<section class="user_section">
<%= render "user", user: @user %>
<div class="bio">
 <h3>Bio</h3>
 <p> <%= @user.bio %></p>
</div>
</section>
<section class="user_posts_section">
 <%= render @posts%>
 <div class="posts_section_btns">
  <%= render partial:'shared_partials/all_posts_btn', locals: {user: @user}%>
  <%= render partial:'shared_partials/new_post_btn', locals: {user: @user}%>
 </div>
<section>
