<section class="post_section">
<div class="single_post_resume">
<div id="post_header_div">
<h3><%= @post.title%> by <%= @post.author.name %></h3>
 <%= render partial:"shared_partials/counters_post", locals:{post: @post}%>
 </div>
 <p><%= @post.text %></p>
</div>
<div class="action_div">

</div>
</section>
<section class="comment_section">
<% unless @comments.empty? %>
<div class="comments_div">
 <%= render @comments%>
 </div>
<% end %>
</section>
<section class="frm_section">
<h3>Please share your comments with us!</h3>
<%= render partial:"comments/comment_frm"%>
</section>
